
LearnWithTortoise/LearnWithTortoise/bin/Debug/LearnWithTortoise.exe.config
LearnWithTortoise/.vs/LearnWithTortoise/v14/.suo
LearnWithTortoise/LearnWithTortoise/bin/Debug/LearnWithTortoise.exe
LearnWithTortoise/LearnWithTortoise/bin/Debug/LearnWithTortoise.pdb
LearnWithTortoise/LearnWithTortoise/bin/Debug/LearnWithTortoise.vshost.exe
LearnWithTortoise/LearnWithTortoise/bin/Debug/LearnWithTortoise.vshost.exe.config
LearnWithTortoise/LearnWithTortoise/bin/Debug/LearnWithTortoise.vshost.exe.manifest
LearnWithTortoise/LearnWithTortoise/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LearnWithTortoise/LearnWithTortoise/obj/Debug/LearnWithTortoise.csproj.FileListAbsolute.txt
LearnWithTortoise/LearnWithTortoise/obj/Debug/LearnWithTortoise.csprojResolveAssemblyReference.cache
LearnWithTortoise/LearnWithTortoise/obj/Debug/LearnWithTortoise.exe
LearnWithTortoise/LearnWithTortoise/obj/Debug/LearnWithTortoise.pdb
LearnWithTortoise/LearnWithTortoise/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LearnWithTortoise/LearnWithTortoise/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LearnWithTortoise/LearnWithTortoise/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
